<div style="text-align:center" class="logo">
  <br>
<h1 class="logo">
  Bezbednost
</h1>
<ul>
    <li><a href="/#/logs" class="menu">Logs</a></li>
    <li><a href="/#/alarms" class="menu">Alarms</a></li>
    <li><a href="/#/reports" class="menu">Reports</a></li>
    
    <li><a href="/#/password" class="menu">Change password</a></li>
    <li><a (click)="logout()" class="menu">Log out</a></li>

    
  </ul>


</div>
<br>

<!-- <p>
  home works!
</p>
<button (click)="logout()">Log out</button>
<button (click)="me()">mee</button>
<button (click)="changePassword()">Change password</button> -->