.pass {
    width: 50%;
    margin: auto;
}

.save-button-text {
    color: #626f4c;
    opacity: 0.7;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.save-button-text:hover{
     text-decoration-color: #a2aab0;
     opacity: 0.2;
}

.full-button-text {
    color: #4c586f;
    opacity: 0.7;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.full-button-text:hover{
     text-decoration-color: #a2aab0;
     opacity: 0.2;
}